body {
    padding-top: 50px;
    padding-bottom: 20px;
}

input,
select,
textarea {
    max-width: 280px;
}

ol, ul, li {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
}

.header {
    padding: 10px 0;
    clear: both;
    overflow: hidden;
    background: #fff;
    margin: 0 -5px;
}

    .header .logo {
        display: inline-block;
        float: right;
        padding: 7px 0;
        text-align: center;
    }

        .header .logo li {
            float: left;
            display: inline-block;
            margin-left: 20px;
            font-size: 14px;
        }

menu {
    display: block;
    background: red;
    height: 50px;
    border-bottom: 5px solid #ff0555;
    clear: both;
    overflow: hidden;
}

menu ul li {float: left;display: inline-block;position: relative;}
menu ul li p{font-size: 16px; line-height: 45px;overflow: hidden;position: relative;}
menu ul li p a{ padding: 0 41px;color: #ffffff;display: inline-block;}
